@font-face {
  font-family: "Rockness";
  src: local("Rockness"), url(assets/fonts/Rockness.otf) format("truetype");
}

@font-face {
  font-family: "Avenir";
  src: local("Avenir"), url(assets/fonts/Avenir.otf) format("truetype");
}

body {
  margin: 0;
  font-family: "Avenir";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Avenir";
}

.MuiGrid-spacing-xs-2,
.MuiGrid-spacing-xs-4 {
  width: 100% !important;
  margin: 0px !important;
}

@media (min-width: 1280px) {
  .MuiContainer-maxWidthLg {
    max-width: 1200px !important;
  }
}

@media (min-width: 960px) {
  .left-side {
    flex-grow: 0 !important;
    max-width: 12.666667% !important;
    flex-basis: 12.666667% !important;
  }

  .right-side {
    flex-grow: 0 !important;
    max-width: 87.333333% !important;
    flex-basis: 87.333333% !important;
  }
}

@media (min-width: 600px) {
  .MuiTab-root {
    min-width: 150px !important;
  }
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.left-side {
  background-color: #fff;
  padding: 0px 20px;
}

.right-side {
  background-color: #ecf4f8;
  padding: 10px 20px;
}

// *Header
#Header {
  padding: 20px 0px;

  h2 {
    font-size: 32px;
    font-family: "Avenir";
    font-weight: 900;
    color: #003361;
    text-transform: capitalize;

    .text-color {
      color: #7ac8c3 !important;
    }
  }

  h4 {
    font-size: 18px;
    font-family: "Avenir";
    font-weight: 900;
    color: #003361;
    text-transform: capitalize;
    display: inline-block;
  }

  p {
    font-size: 14px;
    font-family: "Avenir";
    color: #58595b;
  }

  .add-quote,
  .notification {
    margin: 0px 8px;
    padding: 12px 16px;
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    img {
      width: 25px;
      height: 25px;
    }
  }

  .add-quote {
    background-color: rgba($color: #7ac8c3, $alpha: 0.2);

    &:hover {
      background-color: rgba($color: #7ac8c3, $alpha: 1);
    }
  }

  .notification {
    background-color: rgba($color: #003361, $alpha: 0.2);

    &:hover {
      background-color: rgba($color: #003361, $alpha: 1);
    }
  }
}

// *Navigation
#Navigation {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  text-align: center;

  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 50px;

    li {
      font-size: 14px;
      font-family: "Avenir";
      color: #7ac8c3;
      background-color: #fff;
      width: 120px;
      height: 100px;
      display: table;
      text-align: center;
      cursor: pointer;
      border-radius: 30px;
      margin: 15px 0px;
      transition: 0.3s ease-in-out;

      &:hover {
        box-shadow: 0px 3px 28px #00000014;
        transition: 0.3s ease-in-out;
      }

      div {
        display: table-cell;
        vertical-align: middle;
      }

      img {
        width: 25px;
        height: 25px;
        display: block;
        margin: 5px auto;
      }
    }
  }
}

// *Missions
#Missions {
}

// *Forms

.bg {
  background-image: url(assets/images/BG.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.form-wrapper {
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -35%);
  padding: 25px;
  text-align: center;
  width: 40%;

  form {
    background-color: rgba($color: #fff, $alpha: 0.2);
    margin-top: 40px;
    padding: 20px;
    border-radius: 27px;

    h2 {
      font-size: 36px;
      font-family: "Rockness";
      color: #fff;
      margin: 15px 0px;
    }

    .input-field {
      margin: 20px 10px;
      padding: 5px;
      border: 1px solid rgba($color: #fff, $alpha: 0.6);
      border-radius: 100px;

      .MuiListItem-root {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }

      .MuiInput-underline:before,
      .MuiInput-underline:after {
        display: none !important;
      }

      .MuiSelect-select:focus {
        background-color: transparent !important;
      }

      .MuiSelect-icon {
        display: none;
      }

      .MuiSelect-select.MuiSelect-select {
        padding: 0px !important;
      }

      .MuiSelect-selectMenu {
        height: 30px;
      }

      .icon {
        display: inline-block;
        border-radius: 50%;
        background-color: #fff;
        padding: 5px 8px;
        text-align: center;

        img {
          width: 14px;
          height: 14px;
        }
      }

      input {
        border: none;
        margin: 0px 5px;
        background: transparent;
        color: #fff;
        font-size: 16px;
        outline: none;
        line-height: 1.5;
        width: calc(100% - 45px);

        &::placeholder {
          color: rgba($color: #fff, $alpha: 0.7);
        }
      }
    }

    .verification-input {
      font-size: 24px;
      line-height: 1.5;
      text-align: center;
      background-color: transparent;
      color: #fff;
      outline: none;
      border: none;
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.6);
      display: inline-block;
      margin: 0px 8px 20px 8px;
      width: 30px;
    }

    p {
      font-size: 14px;
      font-family: "Avenir";
      color: rgba($color: #fff, $alpha: 0.8);
      margin-bottom: 10px;
    }
  }

  p {
    font-size: 14px;
    font-family: "Avenir";
    color: rgba($color: #fff, $alpha: 0.7);

    a {
      color: rgba($color: #fff, $alpha: 0.7);
      font-size: 14px;
      font-family: "Avenir";

      &:hover {
        text-decoration: none;
      }

      .MuiSvgIcon-root {
        vertical-align: bottom;
        font-size: 18px;
        width: 18px;
        height: 18px;
      }
    }
  }
}

.button {
  font-size: 14px;
  font-family: "Avenir";
  color: #fff !important;
  background: transparent linear-gradient(90deg, #7ac8c3 0%, #003361 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 11px 16px #7ac8c31a;
  border-radius: 100px;
  display: block;
  margin: 0px 10px !important;
  border: none;
  outline: none;
  width: -webkit-fill-available;
  padding: 8px;
  cursor: pointer;
  letter-spacing: 2px;

  &:hover {
    text-decoration: none !important;
  }
}
